<?xml version="1.0"?>
<robot name="pygmalion_v2">
  <link name="base_link">
    <inertial>
      <origin xyz="0.00892958 -0.000429749 0.281074" rpy="0 0 0"/>
      <mass value="21.592"/>
      <inertia ixx="1.40911" ixy="-7.4555e-05" ixz="-0.0164878" iyy="1.21013" iyz="-0.0025522" izz="0.329744"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/pelvis.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/pelvis_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="L_hip_pitch_link">
    <inertial>
      <origin xyz="0.00130917 0.0122737 0.000398277" rpy="0 0 0"/>
      <mass value="2.1779"/>
      <inertia ixx="0.00537796" ixy="3.12461e-05" ixz="4.11248e-06" iyy="0.00322403" iyz="4.07404e-05" izz="0.00394059"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/hip_pitch_link.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/hip_pitch_link_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="L_hip_roll_link">
    <inertial>
      <origin xyz="0.000784027 -0.0026119 -0.1053" rpy="0 0 0"/>
      <mass value="1.8198"/>
      <inertia ixx="0.00659407" ixy="-3.83856e-06" ixz="-0.00014432" iyy="0.00673544" iyz="0.000188999" izz="0.00296389"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/hip_roll_link.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/hip_roll_link_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="L_thigh_link">
    <inertial>
      <origin xyz="-0.0297139 -0.00105298 -0.312201" rpy="0 0 0"/>
      <mass value="2.7562"/>
      <inertia ixx="0.0215998" ixy="-3.28862e-05" ixz="-0.00426526" iyy="0.0246237" iyz="-0.00016331" izz="0.00547829"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/thigh.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/thigh_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="L_shin_link">
    <inertial>
      <origin xyz="-0.0273423 -0.000265126 -0.227915" rpy="0 0 0"/>
      <mass value="3.3628"/>
      <inertia ixx="0.0429728" ixy="3.96597e-05" ixz="-0.00323758" iyy="0.0441539" iyz="-5.81368e-06" izz="0.00476379"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/shin.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/shin_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="L_ankle_pitch_link">
    <inertial>
      <origin xyz="-1.42109e-15 9.25695e-14 9.3678e-14" rpy="0 0 0"/>
      <mass value="0.066987"/>
      <inertia ixx="1.31094e-05" ixy="6.4373e-19" ixz="1.28746e-18" iyy="7.08093e-06" iyz="2.57492e-18" izz="1.2847e-05"/>
    </inertial>
  </link>
  <link name="L_foot_link">
    <inertial>
      <origin xyz="0.0245214 0.000321455 -0.0242027" rpy="0 0 0"/>
      <mass value="0.78529"/>
      <inertia ixx="0.0020039" ixy="1.91399e-05" ixz="0.000790218" iyy="0.00557935" iyz="-7.79345e-05" izz="0.00478413"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/foot.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/foot_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="R_hip_pitch_link">
    <inertial>
      <origin xyz="0.00130917 -0.0122737 0.000398277" rpy="0 0 0"/>
      <mass value="2.1779"/>
      <inertia ixx="0.00537796" ixy="-3.12461e-05" ixz="4.11248e-06" iyy="0.00322403" iyz="-4.07404e-05" izz="0.00394059"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/R_hip_pitch_link.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/R_hip_pitch_link_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="R_hip_roll_link">
    <inertial>
      <origin xyz="0.000784027 0.0026119 -0.1053" rpy="0 0 0"/>
      <mass value="1.8198"/>
      <inertia ixx="0.00659407" ixy="3.83856e-06" ixz="-0.00014432" iyy="0.00673544" iyz="-0.000188999" izz="0.00296389"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/R_hip_roll_link.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/R_hip_roll_link_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="R_thigh_link">
    <inertial>
      <origin xyz="-0.0297139 0.00105298 -0.312201" rpy="0 0 0"/>
      <mass value="2.7562"/>
      <inertia ixx="0.0215998" ixy="3.28862e-05" ixz="-0.00426526" iyy="0.0246237" iyz="0.00016331" izz="0.00547829"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/R_thigh.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/R_thigh_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="R_shin_link">
    <inertial>
      <origin xyz="-0.0273423 0.000265126 -0.227915" rpy="0 0 0"/>
      <mass value="3.3628"/>
      <inertia ixx="0.0429728" ixy="-3.96597e-05" ixz="-0.00323758" iyy="0.0441539" iyz="5.81368e-06" izz="0.00476379"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/R_shin.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/R_shin_hull.stl"/></geometry>
    </collision>
  </link>
  <link name="R_ankle_pitch_link">
    <inertial>
      <origin xyz="-1.42109e-15 -9.25695e-14 9.3678e-14" rpy="0 0 0"/>
      <mass value="0.066987"/>
      <inertia ixx="1.31094e-05" ixy="-6.4373e-19" ixz="1.28746e-18" iyy="7.08093e-06" iyz="-2.57492e-18" izz="1.2847e-05"/>
    </inertial>
  </link>
  <link name="R_foot_link">
    <inertial>
      <origin xyz="0.0245214 -0.000321455 -0.0242027" rpy="0 0 0"/>
      <mass value="0.78529"/>
      <inertia ixx="0.0020039" ixy="-1.91399e-05" ixz="0.000790218" iyy="0.00557935" iyz="7.79345e-05" izz="0.00478413"/>
    </inertial>
    <visual>
      <geometry><mesh filename="meshes/R_foot.stl"/></geometry>
    </visual>
    <collision>
      <geometry><mesh filename="meshes/R_foot_hull.stl"/></geometry>
    </collision>
  </link>
  <joint name="L_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.1237 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="L_hip_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.18166" upper="0.523599" effort="120" velocity="20"/>
  </joint>
  <joint name="L_hip_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="L_hip_pitch_link"/>
    <child link="L_hip_roll_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.785398" upper="0.436332" effort="120" velocity="20"/>
  </joint>
  <joint name="L_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="L_hip_roll_link"/>
    <child link="L_thigh_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-0.872665" upper="0.872665" effort="60" velocity="20"/>
  </joint>
  <joint name="L_knee_joint" type="revolute">
    <origin xyz="-0.045 0 -0.37" rpy="0 0 0"/>
    <parent link="L_thigh_link"/>
    <child link="L_shin_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.094395" upper="0.0" effort="120" velocity="20"/>
  </joint>
  <joint name="L_ankle_pitch_joint" type="revolute">
    <origin xyz="-0.03 0 -0.49" rpy="0 0 0"/>
    <parent link="L_shin_link"/>
    <child link="L_ankle_pitch_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.872665" upper="0.523599" effort="90" velocity="20"/>
  </joint>
  <joint name="L_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="L_ankle_pitch_link"/>
    <child link="L_foot_link"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-0.349066" upper="0.349066" effort="50" velocity="20"/>
  </joint>
  <joint name="R_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.1237 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="R_hip_pitch_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.18166" upper="0.523599" effort="120" velocity="20"/>
  </joint>
  <joint name="R_hip_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="R_hip_pitch_link"/>
    <child link="R_hip_roll_link"/>
    <axis xyz="-1 0 0"/>
    <limit lower="-0.785398" upper="0.436332" effort="120" velocity="20"/>
  </joint>
  <joint name="R_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="R_hip_roll_link"/>
    <child link="R_thigh_link"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-0.872665" upper="0.872665" effort="60" velocity="20"/>
  </joint>
  <joint name="R_knee_joint" type="revolute">
    <origin xyz="-0.045 0 -0.37" rpy="0 0 0"/>
    <parent link="R_thigh_link"/>
    <child link="R_shin_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-2.094395" upper="0.0" effort="120" velocity="20"/>
  </joint>
  <joint name="R_ankle_pitch_joint" type="revolute">
    <origin xyz="-0.03 0 -0.49" rpy="0 0 0"/>
    <parent link="R_shin_link"/>
    <child link="R_ankle_pitch_link"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-0.872665" upper="0.523599" effort="90" velocity="20"/>
  </joint>
  <joint name="R_ankle_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="R_ankle_pitch_link"/>
    <child link="R_foot_link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.349066" upper="0.349066" effort="50" velocity="20"/>
  </joint>
</robot>
